# Archivos y directorios de desarrollo
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.git
.github
.gitignore
.vscode
.idea

# Archivos de entorno (que no deben incluirse en la imagen)
.env
.env.local
.env.development
.env.test
.env.production

# Archivos de construcción
dist
dist-ssr
coverage

# Archivos de sistema
.DS_Store
Thumbs.db
